* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  color: #333;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #6ee7b7, #3b82f6);
}

#main {
  min-height: 550px;
  max-height: 550px;
  min-width: 450px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header > h2 {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 2.2rem;
  font-weight: 600;
}

#input {
    min-height: 50.4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

#inputDisplay {
  padding: 8px;
  padding-inline: 12px;
  font-size: 1.3rem;
  flex-grow: 1;
  border: 2px solid rgb(178, 178, 178);
  border-radius: 3px;
  outline: none;
}

#inputDisplay::placeholder {
  color: rgb(177, 177, 177);
}

#input > i {
  color: white;
  background-color: #8e49e8;
  font-size: 1.8rem;
  padding: 10.5px;
  padding-inline: 12.5px;
  border-radius: 3px;
  cursor: pointer;
}

main {
    /* height: 483px; */
    flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* background-color: #6ee7b7; */
  /* justify-content: space-between; */
  gap: 15px;
}

#tasks {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto !important;
  scrollbar-width: none;
}

.task {
  position: relative !important;
  min-height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-size: 1.2rem;
  background-color: rgba(214, 214, 214, 0.712);
  border-radius: 4px;
}

.task > i {
    font-size: 1.5rem;
    height: 100%;
    padding: 10px;
    padding-inline: 12px;
    color: transparent;
    background-color: transparent;
    transition: .2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    cursor: pointer;
}

.toggle{
    background-color: #8e49e8 !important;
    color: white !important;
}


.red {
  background-color: rgb(251, 23, 23) !important;
  color: white !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
 
.task > p {
  flex-grow: 1;
}

#tasksCount {
  min-height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* padding: 8px; */
  padding-top: 15px;
  font-size: 1.1rem;
  gap: 10px;
  
}

#tasksCount > button {
    font-size: 1.1rem;
    padding: 5px;
    padding-inline: 15px;
    background-color: #8e49e8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-wrap: nowrap;
}

#edit {
  position: absolute;
  top: 120%;
  left: 0;
  display: none;
  /* border: 2px solid rgb(179, 179, 179); */
  border-radius: 4px;
  overflow: hidden;
  font-size: 1rem;
  z-index: 99;
}

#edit > input {
  font-size: 1rem;
  padding: 5px 12px;
  outline: none;
  border: none;
  border-top: 3px solid rgb(180, 180, 180);
  border-bottom: 3px solid rgb(180, 180, 180);
  border-left: 3px solid rgb(180, 180, 180);
}


#edit > button {
  background-color: rgb(254, 29, 29);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#edit > button:last-child {
  background-color: #8e49e8;
}


.dflex {
  display: flex !important;
}





@media screen and (max-width : 460px) {
.task {
  min-height: 35px;
  padding-left: 0px 10px;
}

.task > p{
  font-size: 1.05rem;
}

.task > i {
  font-size: 1.2rem;
  padding-inline: 10px;
}

  body {
    padding: 20px;
  }

  header > h2 {
    font-size: 2rem;
  }

  #main {
    min-width: 100%;
    padding: 10px;
    gap: 5px;
  }

  main {
    gap: 5px;
  }

  #edit{
    width: 100%;
  }

 
  #edit > input {
    width: 60%;
    padding: 3px 6px;
    font-size: .8rem;
  }

  #edit > button {
    font-size: .8rem;
    padding: 2px 3px;
    width: 20%;
  }
  
  #inputDisplay {
    font-size: 1rem;
    padding: 6px 10px;
  }
  
  #input > i{
    font-size: 1.4rem;
    padding: 8.5px 10.5px;
  }

  #countP{
    font-size: .9rem;
  }

  #tasksCount > button {
    font-size: .9rem;
  }
}

@media screen and (max-width: 360px) {
  body {
    padding: 10px;
  }

  header > h2 {
    font-size: 1.8rem;
  }
  #edit {
    flex-wrap: wrap;
  }
 
  #edit > input {
    width: 100%;
    padding: 4px 8px;
    font-size: .95rem;
    border-right: 3px solid rgb(180, 180, 180);
    border-bottom: none;
  }

  #edit > button {
    font-size: .95rem;
    padding: 5px 0px;
    width: 50%;
  }
}